@import "../_fonts";
@import "../_vars";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.text-page {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}
.text-page__container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
}
.text-page__name {
  margin: 0;
  padding-top: 55px;
  padding-bottom: 28px;
  font-size: 50px;
  line-height: 18px;
  @include headerfont1-1;
}
.text-page__main-btn {
  width: 147px;
  height: 26px;
  background: #ffc480;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: 15px;
  line-height: 18px;
  @include buttonfont;
  color: #eeeeee;
}
.text-page__text-btn {
  width: 158px;
  height: 26px;
  border: 1px solid #eeeeee;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
  line-height: 18px;
  color: #707070;
  margin-left: 10px;
  @include buttonfont;
  background-color: #eeeeee;
}
.text-page__name2 {
  padding-top: 50px;
  padding-bottom: 22px;
  font-size: 30px;
  line-height: 18px;
  @include headerfont1-1;
}
.about {
  min-height: 316px;
  margin-bottom: 24px;
  max-width: 1170px;
  width: 100%;
  .about__image {
    float: left;
    margin: 0 30px 0 0;
    max-width: 40%;
  }
  .about__main-text {
    @include headerfont1-1;
    font-size: 18px;
    line-height: 23px;
    padding-bottom: 23px;
  }
  .about__descr-1 {
    font-size: 18px;
    line-height: 23px;
    padding-bottom: 23px;
    @include textfont1-1;
  }
  .about-result {
    padding-left: 15px;
    font-size: 18px;
    line-height: 35px;
    @include textfont1-1;
    .about__list::marker {
      color: #f07fae;
    }
  }
}
.about__descr-2 {
  @include textfont1-1;
  font-size: 18px;
  line-height: 23px;
  color: #333333;
}
.text-page__list-cards {
  display: flex;
  column-gap: 29px;
  max-width: 1170px;
  width: 100%;
  .cards {
    display: flex;
    flex-direction: column;
    max-width: 270px;
    min-height: 375px;
    width: 100%;
    .cards__wr-img {
      max-width: 270px;
      width: 100%;
      .cards__image {
        border-radius: 10px;
        width: 100%;
      }
    }
    .cards__title {
      padding-top: 25px;
      padding-bottom: 10px;
      @include headerfont1-1;
      font-size: 18px;
      line-height: 18px;
    }
    .cards__text-descr {
      padding-bottom: 52px;
      @include textfont3-1;
      font-size: 16px;
      line-height: 18px;
    }
  }
}
.contacts {
  display: flex;
  max-width: 1170px;
  width: 100%;
  padding-bottom: 80px;
  .contacts__info {
    max-width: 399px;
    width: 100%;
    .contacts__text {
      @include textfont3-1;
      font-size: 16px;
      line-height: 18px;
      padding-bottom: 16px;
    }
    .contacts__phone-number {
      display: flex;
      padding-bottom: 19px;
      .contacts__number {
        padding-left: 10px;
        @include headerfont1-1;
        font-size: 18px;
        line-height: 18px;
        cursor: pointer;
      }
    }
    .contacts__wrapper-email {
      display: flex;
      padding-bottom: 26px;
      .contacts__email {
        padding-left: 10px;
        @include textfont1-1;
        font-size: 18px;
        line-height: 18px;
      }
    }
    .contacts__social-media {
      display: flex;
      .contacts__vk {
        height: 11.5px;
      }
      .contacts__insagram {
        padding-left: 19px;
      }
      .contacts__whatsapp {
        padding-left: 20.07px;
        height: 16px;
      }
    }
  }
  .contacts__map {
    max-width: 770px;
    width: 100%;
    padding-left: 29.68px;
    .contacts__image-map {
      width: 100%;
    }
  }
}

@media screen and (max-width: 768px) {
  .text-page {
    max-width: 768px;
    width: 100%;
  }
  .text-page__container {
    max-width: 725px;
    width: 100%;
  }
  .text-page__name {
    padding-bottom: 15px;
    margin: 0;
    padding-top: 38px;
    padding-bottom: 20px;
    font-size: 30px;
    line-height: 18px;
  }
  .text-page__name2 {
    padding-top: 33px;
    padding-bottom: 20px;
    font-size: 25px;
  }
  .about {
    min-height: 151px;
    margin-bottom: 9px;
    .about__image {
      margin: 0 25px 0 0;
    }
    .about__main-text {
      padding-bottom: 2px;
    }
  }
  .text-page__list-cards {
    column-gap: 26px;
    .cards {
      max-width: 224px;
      width: 100%;
      min-height: 170px;
    }
    .cards:nth-of-type(4) {
      display: none;
    }
  }
  .contacts__map {
    display: none;
  }
}

@media screen and (max-width: 320px) {
  .text-page {
    max-width: 320px;
    width: 100%;
    margin: 0 auto;
  }
  .text-page__container {
    max-width: 289px;
    width: 100%;
    margin: 0 auto;
  }
  .text-page__name {
    padding-top: 30px;
    padding-bottom: 7px;
    font-size: 22px;
    line-height: 18px;
  }
  .text-page__main-btn {
    width: 113px;
    height: 20px;
    font-size: 12px;
  }
  .text-page__text-btn {
    width: 122px;
    height: 20px;
    font-size: 12px;
    margin-left: 5px;
    background-color: white;
  }
  .text-page__name2 {
    padding-top: 20px;
    padding-bottom: 12px;
    font-size: 20px;
  }
  .about {
    .about__image {
      max-width: 289px;
      min-height: 194px;
      padding-bottom: 10px;
    }
    .about__main-text {
      padding-bottom: 20px;
      font-size: 16px;
      line-height: 20px;
    }
    .about__descr-1 {
      font-size: 16px;
      line-height: 20px;
    }
    .about-result {
      display: none;
    }
  }
  .wrapper__descr-2 {
    display: none;
  }
  .text-page__list-cards {
    column-gap: 10px;
    .cards {
      max-width: 140px;
      width: 100%;
      min-height: 106px;
      .cards__title {
        padding-top: 10px;
        padding-bottom: 5px;
        font-size: 16px;
      }
      .cards__text-descr {
        padding-bottom: 25px;
        font-size: 15px;
        line-height: 16px;
      }
    }
    .cards:nth-of-type(3) {
      display: none;
    }
  }
  .contacts {
    display: block;
    .contacts__info {
      padding-bottom: 16px;
    }
    .contacts__map {
      max-width: 289px;
      width: 100%;
      min-height: 230px;
      height: 100%;
      display: block;
      .contacts__image-map {
        width: 100%;
      }
    }
  }
}
