@import "./_fonts";
@import "./_vars";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1440px;
  width: 100%;
  display: flex;
  justify-content: center;

  .wrapper {
    max-width: 1170px;
    width: 100%;
    padding-top: 51px;

    .main {
      .main__slides {
        margin-bottom: 10vh;
        display: flex;
        flex-direction: row;
        gap: 2vw;

        .slides__board {
          background-image: url(../img/main/bgr_blue.png);
          max-width: 770px;
          width: 100%;
          background-size: cover;
          border-radius: 10px;
          position: relative;
          padding: 14vh 0;

          .slides__board-box {
            margin-left: 5vw;
            max-width: 370px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            gap: 2.5vh;
            .slides__board-title {
              font-family: $font;
              font-weight: 500;
              font-size: 50px;
              color: #ffffff;
              margin-top: 0;
            }
            .slides__board-info {
              @include textfont2-1;
            }
          }
          .slides__board-img {
            position: absolute;
            max-width: 424.18px;
            width: 100%;
            right: -3%;
            top: -4%;
          }
          .slides__board-btn {
            @include headerfont1-6;
            padding: 2vh 2.5vw;
            background-color: #ffffff;
            border-radius: 5px;
            cursor: pointer;
            transition: 0.6s;
            border: none;
          }
        }

        .slides__box-wrapper {
          display: flex;
          flex-direction: column;
          max-width: 370px;
          width: 100%;
          gap: 3vh;

          .slides__box-stand {
            background: linear-gradient(
                0deg,
                rgba(0, 141, 65, 0.2),
                rgba(0, 141, 65, 0.2)
              ),
              linear-gradient(113.62deg, #2ab86b 0%, #5de39a 97.37%);
            opacity: 0.9;
            box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.2);
            border-radius: 10px;
            padding-left: 2vw;
            padding-top: 6vh;
            padding-bottom: 7vh;
            padding-right: 15vw;
            position: relative;
            height: 33vh;

            .slides__box-img1 {
              position: absolute;
              max-width: 185px;
              width: 100%;
              right: -2.5%;
              top: 5%;
            }
          }
          .slides__box-eight {
            background: linear-gradient(112.82deg, #f68ab1 0%, #feb5cf 100%);
            opacity: 0.9;
            box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.2);
            border-radius: 10px;
            padding-left: 2vw;
            padding-top: 6vh;
            padding-bottom: 7vh;
            padding-right: 17vw;
            height: 33vh;
            position: relative;

            .slides__box-img2 {
              position: absolute;
              max-width: 215px;
              width: 100%;
              top: -10%;
              right: -10%;
            }
          }
          .slides__box {
            width: 16vw;
            display: flex;
            flex-direction: column;
            gap: 9px;
            .slides__box-title {
              @include headerfont2-3;
            }
            .slides__box-info {
              @include textfont2-2;
            }
            .slides__box-link {
              @include headerfont2-5;
              text-decoration-line: underline;
              cursor: pointer;
            }
          }
        }
      }
      .main__cards {
        .main__cards-title {
          @include headerfont1-2;
          margin-bottom: 3vh;
        }
      }
    }
  }

  .cards {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    gap: 2vw;
    .cards__item {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      list-style: none;
      max-width: 270px;
      border: 1px solid #eeeeee;
      border-radius: 10px;
      padding: 7vh 3vh 3vw;

      .cards__img {
        max-width: 100%;
        max-height: 150px;
        object-fit: contain;
        padding: 5%;
      }
      .cards__title {
        @include headerfont1-5;
        margin: 7vh 0 0;
      }
      .cards__description {
        @include textfont3-1;
        margin: 10px 0 7px;
      }
      .buy {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 0 15px;
        .buy__price {
          .buy__price-type-new {
            @include headerfont1-4;
            margin: 0 0 2px;
          }
          .buy__price-type-old {
            @include textfont3-1;
            text-decoration-line: line-through;
            margin: 0;
          }
        }
        .buy__form {
          display: flex;
          border: 1px solid #dfdfdf;
          border-radius: 5px;
          .buy__form-input {
            max-width: 60px;
            padding: 16px 14px;
            font-family: "Blogger Sans", serif;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 1.3;
            color: #707070;
            border: none;
          }
          .buy__form-btn {
            padding: 16px 14px;
            background-color: #f07fae;
            font-family: "Blogger Sans", serif;
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 1.12;
            color: #ffffff;
            border: none;
            cursor: pointer;
            transition: 0.6s;
          }
        }
      }
      .cards__btn {
        @include headerfont1-6;
        padding: 11px 77px;
        background-color: inherit;
        border: 1px solid #dfdfdf;
        border-radius: 10px;
        cursor: pointer;
        transition: 0.6s;
      }
    }
    .cards__btn:hover {
      transform: scale(1.2);
    }
    .buy__form-btn:hover {
      opacity: 0.6;
    }
  }
}

.text-page {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}
.text-page__container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
}
.text-page__name {
  margin: 0;
  padding-top: 55px;
  padding-bottom: 28px;
  font-size: 50px;
  line-height: 18px;
  @include headerfont1-1;
}
.text-page__main-btn {
  width: 147px;
  height: 26px;
  background: #ffc480;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: 15px;
  line-height: 18px;
  @include buttonfont;
  color: #eeeeee;
}
.text-page__text-btn {
  width: 158px;
  height: 26px;
  border: 1px solid #eeeeee;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
  line-height: 18px;
  color: #707070;
  margin-left: 10px;
  @include buttonfont;
  background-color: #eeeeee;
}
.text-page__name2 {
  padding-top: 50px;
  padding-bottom: 22px;
  font-size: 30px;
  line-height: 18px;
  @include headerfont1-1;
}
.about {
  min-height: 316px;
  margin-bottom: 24px;
  max-width: 1170px;
  width: 100%;
  .about__image {
    float: left;
    margin: 0 30px 0 0;
    max-width: 40%;
  }
  .about__main-text {
    @include headerfont1-1;
    font-size: 18px;
    line-height: 23px;
    padding-bottom: 23px;
  }
  .about__descr-1 {
    font-size: 18px;
    line-height: 23px;
    padding-bottom: 23px;
    @include textfont1-1;
  }
  .about-result {
    padding-left: 15px;
    font-size: 18px;
    line-height: 35px;
    @include textfont1-1;
    .about__list::marker {
      color: #f07fae;
    }
  }
}
.about__descr-2 {
  @include textfont1-1;
  font-size: 18px;
  line-height: 23px;
  color: #333333;
}
.text-page__list-cards {
  display: flex;
  column-gap: 29px;
  max-width: 1170px;
  width: 100%;
  .cards {
    display: flex;
    flex-direction: column;
    max-width: 270px;
    min-height: 375px;
    width: 100%;
    .cards__wr-img {
      max-width: 270px;
      width: 100%;
      .cards__image {
        border-radius: 10px;
        width: 100%;
      }
    }
    .cards__title {
      padding-top: 25px;
      padding-bottom: 10px;
      @include headerfont1-1;
      font-size: 18px;
      line-height: 18px;
    }
    .cards__text-descr {
      padding-bottom: 52px;
      @include textfont3-1;
      font-size: 16px;
      line-height: 18px;
    }
  }
}
.contacts {
  display: flex;
  max-width: 1170px;
  width: 100%;
  padding-bottom: 80px;
  .contacts__info {
    max-width: 399px;
    width: 100%;
    .contacts__text {
      @include textfont3-1;
      font-size: 16px;
      line-height: 18px;
      padding-bottom: 16px;
    }
    .contacts__phone-number {
      display: flex;
      padding-bottom: 19px;
      .contacts__number {
        padding-left: 10px;
        @include headerfont1-1;
        font-size: 18px;
        line-height: 18px;
        cursor: pointer;
      }
    }
    .contacts__wrapper-email {
      display: flex;
      padding-bottom: 26px;
      .contacts__email {
        padding-left: 10px;
        @include textfont1-1;
        font-size: 18px;
        line-height: 18px;
      }
    }
    .contacts__social-media {
      display: flex;
      .contacts__vk {
        height: 11.5px;
      }
      .contacts__insagram {
        padding-left: 19px;
      }
      .contacts__whatsapp {
        padding-left: 20.07px;
        height: 16px;
      }
    }
  }
  .contacts__map {
    max-width: 770px;
    width: 100%;
    padding-left: 29.68px;
    .contacts__image-map {
      width: 100%;
    }
  }
}

@media screen and (max-width: 768px) {
  .text-page {
    max-width: 768px;
    width: 100%;
  }
  .text-page__container {
    max-width: 725px;
    width: 100%;
  }
  .text-page__name {
    padding-bottom: 15px;
    margin: 0;
    padding-top: 38px;
    padding-bottom: 20px;
    font-size: 30px;
    line-height: 18px;
  }
  .text-page__name2 {
    padding-top: 33px;
    padding-bottom: 20px;
    font-size: 25px;
  }
  .about {
    min-height: 151px;
    margin-bottom: 9px;
    .about__image {
      margin: 0 25px 0 0;
    }
    .about__main-text {
      padding-bottom: 2px;
    }
  }
  .text-page__list-cards {
    column-gap: 26px;
    .cards {
      max-width: 224px;
      width: 100%;
      min-height: 170px;
    }
    .cards:nth-of-type(4) {
      display: none;
    }
  }
  .contacts__map {
    display: none;
  }
}

@media screen and (max-width: 320px) {
  .text-page {
    max-width: 320px;
    width: 100%;
    margin: 0 auto;
  }
  .text-page__container {
    max-width: 289px;
    width: 100%;
    margin: 0 auto;
  }
  .text-page__name {
    padding-top: 30px;
    padding-bottom: 7px;
    font-size: 22px;
    line-height: 18px;
  }
  .text-page__main-btn {
    width: 113px;
    height: 20px;
    font-size: 12px;
  }
  .text-page__text-btn {
    width: 122px;
    height: 20px;
    font-size: 12px;
    margin-left: 5px;
    background-color: white;
  }
  .text-page__name2 {
    padding-top: 20px;
    padding-bottom: 12px;
    font-size: 20px;
  }
  .about {
    .about__image {
      max-width: 289px;
      min-height: 194px;
      padding-bottom: 10px;
    }
    .about__main-text {
      padding-bottom: 20px;
      font-size: 16px;
      line-height: 20px;
    }
    .about__descr-1 {
      font-size: 16px;
      line-height: 20px;
    }
    .about-result {
      display: none;
    }
  }
  .wrapper__descr-2 {
    display: none;
  }
  .text-page__list-cards {
    column-gap: 10px;
    .cards {
      max-width: 140px;
      width: 100%;
      min-height: 106px;
      .cards__title {
        padding-top: 10px;
        padding-bottom: 5px;
        font-size: 16px;
      }
      .cards__text-descr {
        padding-bottom: 25px;
        font-size: 15px;
        line-height: 16px;
      }
    }
    .cards:nth-of-type(3) {
      display: none;
    }
  }
  .contacts {
    display: block;
    .contacts__info {
      padding-bottom: 16px;
    }
    .contacts__map {
      max-width: 289px;
      width: 100%;
      min-height: 230px;
      height: 100%;
      display: block;
      .contacts__image-map {
        width: 100%;
      }
    }
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .container {
    max-width: 768px;
    width: 100%;
    display: flex;
    justify-content: center;
    .wrapper {
      max-width: 725.13px;
      width: 100%;
    }
  }

  .container .wrapper .main .main__slides {
    flex-direction: column;
  }
  .container .wrapper .main .main__slides .slides__box-wrapper {
    flex-direction: row;
  }
  .container .cards .cards__item-4 {
    display: none;
  }
}
