@font-face {
  font-family: "Blogger Sans";
  src: url("../font/Blogger_Sans.otf");
}

@import "./vars.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1440px;
  width: 100%;
  display: flex;
  justify-content: center;

  .wrapper {
    max-width: 1170px;
    width: 100%;
    padding-top: 51px;

    .main {
      .main__slides {
        margin-bottom: 10vh;
        display: flex;
        flex-direction: row;
        gap: 2vw;
        max-height: 530px;
        height: 100%;

        .slides__board {
          background-image: url(../img/main/bgr_blue.png);
          max-width: 770px;
          width: 100%;
          display: flex;
          flex-direction: row;
          background-size: cover;
          border-radius: 10px;

          .slides__board-box {
            margin-left: 5vw;
            max-width: 370px;
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: center;
            gap: 2.5vh;
            .slides__board-title {
              font-family: $font;
              font-weight: 500;
              font-size: 50px;
              color: #ffffff;
              margin-top: 0;
            }
            .slides__board-info {
              @include textfont2-1;
            }
          }
          .slides__board-img {
            max-width: 424.18px;
            width: 100%;
            margin: -15px 14px 30px 0;
            margin-left: -7vw;
          }
          .slides__board-btn {
            @include headerfont1-6;
            padding: 2vh 2.5vw;
            background-color: #ffffff;
            border-radius: 5px;
            cursor: pointer;
            transition: 0.6s;
            border: none;
          }
        }

        .slides__box-wrapper {
          display: flex;
          flex-direction: column;
          max-width: 370px;
          width: 100%;
          justify-content: space-between;
          .slides__box-stand {
            background: linear-gradient(
                0deg,
                rgba(0, 141, 65, 0.2),
                rgba(0, 141, 65, 0.2)
              ),
              linear-gradient(113.62deg, #2ab86b 0%, #5de39a 97.37%);
            opacity: 0.9;
            box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.2);
            border-radius: 10px;
            padding-left: 1.2vw;
            display: flex;
            flex-direction: row;

            .slides__box-img1 {
              max-width: 185px;
              width: 100%;
              margin: 11px -10px 20px 0;
              margin-left: -3vw;
            }
          }
          .slides__box-eight {
            background: linear-gradient(112.82deg, #f68ab1 0%, #feb5cf 100%);
            opacity: 0.9;
            box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.2);
            border-radius: 10px;
            padding-left: 1.2vw;
            display: flex;
            flex-direction: row;

            .slides__box-img2 {
              max-width: 215px;
              width: 100%;
              margin: -20px -30px 0 0;
              margin-left: -3vw;
            }
          }
          .slides__box {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 9px;
            .slides__box-title {
              @include headerfont2-3;
            }
            .slides__box-info {
              @include textfont2-2;
            }
            .slides__box-link {
              @include headerfont2-5;
              text-decoration-line: underline;
              cursor: pointer;
            }
          }
        }
      }
      .main__cards {
        margin-bottom: 78px;
        .main__cards-title {
          @include headerfont1-2;
          margin-bottom: 3vh;
        }
      }
    }
  }

  .cards {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    gap: 2vw;
    .cards__item {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      list-style: none;
      max-width: 270px;
      width: 100%;
      border: 1px solid #eeeeee;
      border-radius: 10px;
      padding: 7vh 3vh 3vw;

      .cards__img {
        max-width: 100%;
        max-height: 150px;
        object-fit: contain;
        padding: 5%;
      }
      .cards__title {
        @include headerfont1-5;
        margin: 7vh 0 0;
      }
      .cards__description {
        @include textfont3-1;
        margin: 10px 0 7px;
      }
      .buy {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 0 15px;
        .buy__price {
          .buy__price-type-new {
            @include headerfont1-4;
            margin: 0 0 2px;
          }
          .buy__price-type-old {
            @include textfont3-1;
            text-decoration-line: line-through;
            margin: 0;
          }
        }
        .buy__form {
          display: flex;
          border: 1px solid #dfdfdf;
          border-radius: 5px;
          .buy__form-input {
            max-width: 60px;
            padding: 16px 14px;
            font-family: "Blogger Sans", serif;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 1.3;
            color: #707070;
            border: none;
          }
          .buy__form-btn {
            padding: 16px 14px;
            background-color: #f07fae;
            font-family: "Blogger Sans", serif;
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 1.12;
            color: #ffffff;
            border: none;
            cursor: pointer;
            transition: 0.6s;
          }
        }
      }
      .cards__btn {
        @include headerfont1-6;
        padding: 11px 77px;
        background-color: inherit;
        border: 1px solid #dfdfdf;
        border-radius: 10px;
        cursor: pointer;
        transition: 0.6s;
      }
    }
    .cards__btn:hover {
      transform: scale(1.2);
    }
    .buy__form-btn:hover {
      opacity: 0.6;
    }
  }
  .main__about-us {
    padding-top: 10vh;
    .main__cards-box {
      display: flex;
      flex-direction: row;
      gap: 3vw;
      .cards__video {
        max-width: 570px;
      }
      .about-us__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .about-us__box {
          display: flex;
          flex-direction: column;
          gap: 9px;
          .about-us__header {
            @include headerfont1-4;
          }
          .about-us__info {
            @include textfont1-1;
          }
        }
        .about-us__certif {
          display: flex;
          flex-direction: column;
          gap: 2vh;
          .about-us__header {
            @include headerfont1-4;
          }
          .about-us__images {
            display: flex;
            max-width: 143px;
            width: 100%;
          }
        }
      }
    }
  }
  .main__reviews {
    padding-top: 10vh;
    .main__reviews-info {
      display: flex;
      flex-direction: row;
      gap: 3vw;
      .reviews__box {
        border: 1px solid #eeeeee;
        border-radius: 10px;
        padding: 20px;
        .reviews__box-img {
          max-width: 60px;
          float: left;
          margin-right: 12px;
        }
        .reviews__box-title {
          display: flex;
          flex-direction: column;
          gap: 6px;
          padding-top: 10px;
          margin-bottom: 20px;
          margin-left: 12px;
          .reviews__box-name {
            font-family: $font;
            font-weight: 700;
            font-size: 18px;
          }
          .reviews__box-town {
            @include textfont3-1;
          }
        }
        .reviews__box-text {
          @include textfont1-2;
        }
      }
      .review__box-video {
        max-width: 370px;
        width: 100%;
      }
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .container {
    max-width: 1023px;
    width: 100%;
    display: flex;
    justify-content: center;
    .wrapper {
      max-width: 725.13px;
      width: 100%;
    }
  }

  .container .wrapper .main .main__slides {
    flex-direction: column;
    max-height: none;
  }
  .container .wrapper .main .main__slides .slides__box-wrapper {
    flex-direction: row;
    gap: 3vw;
    max-width: none;
  }
  .container .cards .cards__item-4 {
    display: none;
  }
  .container .wrapper .main .main__slides .slides__box-wrapper .slides__box {
    width: 25vw;
  }
  .container .cards {
    justify-content: center;
  }
}

@media all and (max-width: 767px) {
  .container .wrapper .main .main__slides {
    max-height: none;
  }
  .container .wrapper .main .main__slides .slides__board {
    max-width: 737px;
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 120vw;
    justify-content: center;
    position: relative;
  }

  .container .wrapper .main .main__slides .slides__board .slides__board-box {
    align-items: center;
    justify-content: space-between;
    height: 100%;
    margin: auto;
    padding: 6vw;
  }
  .container .wrapper .main .main__slides .slides__board .slides__board-img {
    width: 100%;
    position: absolute;
    margin: 0;
    top: 50%;
    width: 58vw;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .container {
    max-width: 767px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
  }

  .container
    .wrapper
    .main
    .main__slides
    .slides__board
    .slides__board-box
    .slides__board-info {
    display: none;
  }

  .container .wrapper .main .main__slides .slides__box-wrapper {
    display: none;
  }

  .container
    .wrapper
    .main
    .main__slides
    .slides__board
    .slides__board-box
    .slides__board-title {
    font-size: 30px;
  }
  .container .cards .cards__item-3 {
    display: none;
  }
  .container .cards .cards__item-4 {
    display: none;
  }
}
